<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Article</title>
</head>
<body>
  <form action="/create-article" method="POST">
    <input type="text" name="article_title" placeholder="Title">
    <br>
    <textarea name="article_body" placeholder="Article's body"></textarea>
    <input type="submit" value="Crate">
  </form>
</body>
</html>